<header id="header" class="header" style="background-color: #616161;">
</header>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <meta name="robots" content="noindex,follow" />
    <link rel='stylesheet' id='style-css'  href='__PUBLIC__/webcss/style.css' type='text/css' media='all' />
    <script type='text/javascript' src='__PUBLIC__/webjs/jquery.min.js'></script>
    <meta name=Copyright Content="本程序版权归ICE所有"/> 
    <meta name="Author-Corporation" content="ICE,2015"/>
    <meta name="description" content="<{$description}>"/>
    <meta name="keywords" content="<{$key}>"/>
    <block name="title"></block>
    <style type="text/css" id="custom-background-css">
body.custom-background { background-image: url('__PUBLIC__/webcss/bg.png'); background-repeat: repeat; background-position: top left; background-attachment: scroll; }
</style>

    <script>
window._deel = {name: 'ICECMS',url: 'http://www.icecms.cn', ajaxpager: '', commenton: 0, roll: [0,0]}
</script>
    <script type='text/javascript' src='__PUBLIC__/webjs/global.js'></script>
 	 <script language ="javascript" type ="text/javascript">
		function atAdd(at){
			//alert("test");
			var content =document.getElementsByName("content")[0]
			//content.value+="@"+at+",";
			editor.html(editor.text()+'@'+at+",");
		}
		function urlAdd(){
			var content =document.getElementsByName("content")[0];
			content.value+="[url=http://链接地址]点击访问[/url]";
		}
		
		
		function imgAdd(){
			var content =document.getElementsByName("content")[0];
			content.value+="[img]http://图片地址[/img]";
		}
		
		
		function codeAdd(){
			var content =document.getElementsByName("content")[0];
			content.value+="[code]//请在这里输入代码[/code]";
		}
		</script>
</head>

<body class="archive category category-android-articles category-18 custom-background">
	<header id="header" class="header" style="background-color: #3838B7;">
        <div class="container-inner">
                <div align="center" class="g-logo"> 
                    <h1>
                        <span class="g-mono" style="font-family:楷体;">ICE CMS</span>  
                        <span class="g-bloger" style="font-family:楷体;">一个编程资讯平台</span>
                        </h1>
                </div>
        </div>
        <div id="toubuads"></div>
  <block name="menhu">
        <div id="nav-header" class="navbar" >
		<ul class="nav">
		<li id="menu-item-8" class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-has-children menu-item-13">
		<a href="__MODULE__/Index/bbs">论坛</a>
		</li>
		 <li id="menu-item-71" class="menu-item menu-item-type-article_type menu-item-object-page menu-item-71">
        <a href="/">门户</a></li>
        <li id="menu-item-13" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-13">
            <a href="__MODULE__/Bbs/new_post">论坛板块</a>
            <ul class="sub-menu">
                <li id="menu-item-9" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9">
                <a href="__MODULE__/Bbs/board_list/id/1">杂谈茶楼</a></li>
                <li id="menu-item-10" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-10">
                <a href="__MODULE__/Bbs/board_list/id/5">WEB/PHP/ASP/C#交流</a></li>
                <li id="menu-item-12" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12">
                <a href="__MODULE__/Bbs/board_list/id/2">CSS/JAVASCRIPT/AJAX交流</a></li>
                <li id="menu-item-12" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12">
                <a href="__MODULE__/Bbs/board_list/id/6">C/C++/JAVA交流</a></li>
                <li id="menu-item-12" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12">
                <a href="__MODULE__/Bbs/board_list/id/4">官方公告</a></li>
                <li id="menu-item-12" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12">
                <a href="__MODULE__/Bbs/board_list/id/3">ICECMS BUG提交</a></li>
        </ul>
        </li>

        <li id="menu-item-13" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-13">
            <a href="__MODULE__/Home">个人中心</a>
            <ul class="sub-menu">
            <li id="menu-item-16" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16">
            <a href="__MODULE__/Home">个人中心</a></li>
            <li id="menu-item-16" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16">
            <a href="__MODULE__/Home/change">修改资料</a></li>
            <li id="menu-item-14" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-14">
            <a href="__MODULE__/Home/zone/id/">我的空间</a></li>
            <li id="menu-item-14" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-14">
            <a href="__MODULE__/Bbs/user_post">我的帖子</a>  </li>
            </ul>
        </li>


        <li id="menu-item-6" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-6">
            <a href="">文章分享</a>
            <ul class="sub-menu">
                <li id="menu-item-22" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-22">
                <a href="__MODULE__/Article/board_list/id/1">互联网</a></li>
                <li id="menu-item-7" class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-7">
                <a href="__MODULE__/Article/board_list/id/2">编程感悟</a></li>
                <li id="menu-item-11" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11">
                <a href="__MODULE__/Article/board_list/id/3">其他</a></li>
            </ul>
            </li>
            
        <li id="menu-item-69" class="menu-item menu-item-type-article_type menu-item-object-page menu-item-69">
        <a href="__MODULE__/Bbs/add">发帖</a></li>
        <li id="menu-item-71" class="menu-item menu-item-type-article_type menu-item-object-page menu-item-71">
        <a href="__MODULE__/Article/add">投稿</a></li>

        <li id="menu-item-374" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-374">
                <a href="__MODULE__/Bbs/new_post">最新帖子</a>
                <ul class="sub-menu">
                    <li id="menu-item-19" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-19">
                    <a href="__MODULE__/Bbs/new_post">最新帖子</a></li>
                </ul>
            </li>
            
            <li id="menu-item-24" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-24">
            <a href="__MODULE__/Message/receive/">我的信息</a>
            <ul class="sub-menu">
                <li id="menu-item-66" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66">
                <a href="__MODULE__/Message/index">发送信息</a></li>
                <li id="menu-item-65" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65">
                <a href="__MODULE__/Message/sended">我已发送</a></li>
                <li id="menu-item-70" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70">
                <a href="__MODULE__/Message/receive/">我已接收</a></li>
                <li id="menu-item-318" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-318">
                <a href="__MODULE__/Message/atreceive">被@消息</a></li>
            </ul>
        </li>
        
        
            
        <li id="menu-item-67" class="menu-item menu-item-type-article_type menu-item-object-page menu-item-67">
       		<a href="http://api.icecms.cn/">API</a>
        </li>
        <li id="menu-item-67" class="menu-item menu-item-type-article_type menu-item-object-page menu-item-67">
       	 <a href="http://icecms.cn/about">ABOUT US</a>
        </li>
	<li style="float:right;">
		<div class="toggle-search">
            <i class="fa fa-search">
            </i>
		</div>
        <div class="search-expand" style="display: none;">
            <div class="search-expand-inner">
                <form method="article" class="searchform" action="__MODULE__/Bbs/search">
                    <div>
            <input type="ext" class="search" name="content" value='输入内容并回车';" onfocus="if(this.value=='输入内容并回车')this.value='';" value="输入内容并回车">
                    </div>
                </form>
            </div>
        </div>
	</li>
</ul>
</div>
</block>
</div>
</header>
<section class="container">
	<div class="title">
		<h2>
			最新资讯
       
	<div style="float:right;">
		<?php
		if(!isset($_COOKIE['user_sid'])){
		echo	'<i class="fa fa-power-off"></i> <a href="__MODULE__/Login">登录</a>';
        }else{
        	echo "欢迎来到ICECMS";
        }
		?>		
	</div> </h2>
    </div>
    <!-- body开始--!>
	<block name="body"></block>
<aside class="sidebar">
<div class="widget widget_calendar">
<div id="calendar_wrap">
		<table id="wp-calendar">
          <block name="you">
			<div class="title">
		<h2>
			在线工具
		</h2>
	</div>
	1.<a href=/tool/decode.php>编码解码器</a><hr />
    2.<a href=/tool/htmledit.php>HTML在线编辑</a><hr />
	3.<a href=/tool/http.php>HTTP浏览器请求查看</a><hr />
    4.<a href=/tool/mine-type.php>MINE-TYPE对照表</a><hr />
	4.<a href=/tool/viewhtml.php>源代码查看</a><hr />
    6.<a href=/tool/whois.php>域名whois查看</a><hr />
    7.<a href=/tool/domaindecode.php>中文域名编码/解码</a><hr />
	8.<a href=/Home/Tool/kugoumusic>酷狗音乐</a><hr />
    9.<a href=/Home/Tool/wo>联通一起沃辅助（自动签到等等）</a><hr />
	10.<a href=/Home/Tool/getip>获取代理IP</a><hr />
    11.<a href=/tool/baidu>无限注册百度账号</a><hr />
    12.<a href=/tool/tieba>查看贴吧用户的隐藏动态</a>
    <br /> 
  </block>
	</table>
</div>
</div>
	
<div class="widget git_tag">
	<div class="title">
		<h2>
			<a class="btn" target="_blank" href="">论坛分类</a>论坛分类
		</h2>
	</div>
	<div class="git_tags">
		<a title="" target="_blank" href="__MODULE__/Bbs/board_list/id/1">杂谈茶楼</a>
		<a title="" target="_blank" href="__MODULE__/Bbs/board_list/id/5">WEB/PHP/ASP/C#</a>
		<a title="" target="_blank" href="__MODULE__/Bbs/board_list/id/2">CSS/JAVASCRIPT/AJAX</a>
		<a title="" target="_blank" href="__MODULE__/Bbs/board_list/id/6">C/C++/JAVA交流</a>
		<a title="" target="_blank" href="__MODULE__/Bbs/board_list/id/4">官方公告</a>
		<a title="" target="_blank" href="__MODULE__/Bbs/board_list/id/3">ICECMS BUG提交</a>
	</div>
	</div>
	<div class="widget widget_links">
		<div class="title">
			<h2>友情链接</h2>
		</div>
		<ul class='xoxo blogroll'>
        <li><a href="http://www.zahuiba.com/" rel="friend co-worker neighbor crush" target="_blank">杂烩吧</a></li>
			<li><a href="http://xiaows.com/" rel="friend co-worker neighbor crush" target="_blank">笑忘书</a></li>
			<li><a href="http://www.bingduba.com/" target="_blank">病毒吧</a></li>
            <li><a href="http://cccyun.cn/?a=803/" target="_blank">彩虹导航</a></li>
            <li><a href="http://mogu.wap.sg/link/gourl.aspx?id=21716_32161" target="_blank">蘑菇导航</a></li>
             <li><a href="http://dh.zl88.net/inlink-328.html" target="_blank">知了网址</a></li>
             <li><a href="http://zz.icsr.cn" target="_blank">站长网</a></li>
             

            
            
		</ul>
	</div>


	<div class="widget widget_links">
		<div class="title">
			<h2>相关网站</h2>
		</div>
	<ul class='xoxo blogroll'>
		<li><a href="http://thinkphp.cn/" target="_blank">THINKPHP</a></li>
		<li><a href="http://www.w3cschool.cc/" target="_blank">W3CSCHOOL</a></li>
		<li><a href="http://htmlpurifier.org/" target="_blank">htmlpurifier</a></li>
		<li><a href="http://kindeditor.net/" target="_blank">kindeditor</a></li>
        <li><a href="http://zzhang.net/" target="_blank">站长之家</a></li>
        <li><a href="http://xn--9iqy7ey9mb9b.xyz/" target="_blank">兖州之家</a></li>
	</ul>
</div>
<div class="widget git_comment">
	<div class="title">
		<h2>WEB</h2>
</div>
<ul>
	<li><a target="_blank" href="">
		<img data-original="__PUBLIC__/images/nohead.jpg" class="avatar avatar-72" height="50px" width="50px">
		<div class="muted">
			<i>someone</i>
		。。。。。
		</div>
           </a>
	</li>
</ul>
</div>
</aside>
</section>
<footer style="border-top: 1px solid ;background-image: url('__PUBLIC__/webcss/footbg.jpg'); background-repeat: repeat;" class="footer">
<div class="footer-inner">
	<div class="footer-copyright" align="center">
		Copyright 2015-2016   WWW.ICECMS.CN  | <a rel="nofollow" target="_blank" href="http://icecms.cn/about">ABOUT US</a> | <a rel="nofollow" target="_blank" href="__MODULE__/Home/dark_home.html">DARK HOUSE</a>
        
        <!--<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254974892'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1254974892%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>--!>
		<a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备15008776号-2</a>
		<span class="trackcode pull-right">联系TA   邮箱:postmaster@icecms.cn</span></div></div></footer>

</body>
</html>
