.bbs_error{
font-size:16px;
background-color:#F1F1F1;
color:#666;
padding:10px;
text-align:center;
font-weight:bold;
border-radius:5px; 
min-height:10px;
}


.bbs_fl_line{
font-size:16px;
background-color:#D8DEDE;
color:#444;
padding:10px;
text-align:center;
border-radius:5px; 
font-weight:bold;
min-height:10px;
}

.bbs_fl_title{
font-size:16px;
background-color:#F4F4F4;
color:#666;
padding:5px 10px;
text-align:left;
border-radius:5px; 
border: 1px solid #F2F2F2; 
min-height:50px;
}
.bbs_fl_title_two{
font-size:16px;
background-color:#FCFCFC;
color:#666;
padding:5px 10px;
text-align:left;
border-radius:5px; 
border: 1px solid #F2F2F2; 
min-height:50px;
}
.bbs_fl_title span{
background-color:#FBFBFB;
float:right;
padding:5px;
border-radius:5px; 
border: 1px solid #F2F2F2; 
}
.bbs_fl_title_two span{
background-color:#F1F1F1;
float:right;
padding:5px;
border-radius:5px;
border: 1px solid #F2F2F2; 
}

.bbs_line{
font-size:16px;
background-color:#E8E8E8;
color:#444;
padding:10px;
text-align:center;
font-weight:bold;
border-radius:5px; 
min-height:10px;
}
.bbs_line2{
font-size:16px;
background-color:#E1E1E1;
color:#444;
padding:10px;
text-align:center;
font-weight:bold;
border-radius:5px; 
min-height:10px;
}
.bbs_line>a{
color:#444;
padding:10px;
border-radius:5px; 
}
.bbs_line2>a{
color:#444;
padding:10px;
border-radius:5px; 
}
.bbs_title{
background-color:#F4F4F4;
color:#333;
padding:5px 10px;
text-align:left;
border-radius:5px; 
border: 1px solid #F2F2F2; 
}
.bbs_title_two{
background-color:#FCFCFC;
color:#333;
padding:5px 10px;
text-align:left;
border-radius:5px; 
border: 1px solid #F2F2F2; 
}

.line_title  .sm {
font-size:12px;
}
.line_title .sm {
font-size:12px;
}
.bbs_title_two .right {
font-size:14px;
float: right;
}
.bbs_title .right {
font-size:14px;
float: right;
}
.bbs_line:hover {
background:#F1F1F1;
position:relative;
font-weight:bold;
border: 5px solid #FFF; 
border-radius: 10px;
}
.bbs_title:hover {
background:#F1F1F1;
position:relative;
font-weight:bold;
border: 5px solid #FFF; 
border-radius: 10px;
}
.bbs_title_two:hover {
background:#F1F1F1;
position:relative;
font-weight:bold;
border: 5px solid #FFF; 
border-radius: 10px;
}
.bbs_page{
font-size:16px;
background-color:#F4F4F4;
color:#666;
padding:5px 10px;
text-align:center;
font-weight:bold;
border-radius:5px; 
border: 1px solid #F2F2F2; 
min-height:10px;
}

.bbs_view{
font-size:16px;
background-color:#FFF;
color:#444;
padding:5px 10px;
text-align:left;
font-weight:bold;
border-radius:5px; 

}
.bbs_view_u{
font-size:16px;
background-color:#FFF;
color:#666;
padding:5px 10px;
text-align:left;
border-radius:5px; 
}
.bbs_view_u>a{
font-size:16px;
text-align:right;
line-height:36px;
display:block;
}
.bbs_view_u .right{
font-size:14px;
text-align:right;
display:block;
}

.bbs_head{
font-size:17px;
background-color:#F4F4F4;
color:#444;
padding:5px 10px;
text-align:left;
font-weight:bold;
border-radius:5px; 
border: 1px solid #F2F2F2; 
}

.bbs_head .right {
float: right;
line-height:20px;
font-size: 12px;
color: #737373;
}




.bbs_ad{
font-size:14px;
background-color:#F4F4F4;
color:#333;
padding:5px 10px;
text-align:center;
font-weight:bold;
border-radius:5px; 
border: 1px solid #F2F2F2; 
}

.bbs_view img{
max-width:100%;
}

.bbs_view_ping{
font-size:16px;
background-color:#FBFBFB;
color:#222222;
text-align:center;
padding:5px 10px;
border: 1px solid #FFF; 
font-weight:bold;
}
.bbs_view_ping textarea{
width:98%;
background-color:#FFFFFF;
border-radius: 1px; 
}
.bbs_ping{ 
font-weight:bold;
width:100%;
min-height:30px;
font-size:15px;
text-align:center;
background:#FFFFFF;
color:#535666;
padding:5px 10px;
border: 2px solid #FBFBFB; 
}

.bbs_ping_line{
font-size:16px;
font-weight:bold;
background-color:#F7F7F7;
color:#444;
padding:5px 10px;
text-align:center;
border-radius:5px; 
border: 1px solid #FBFBFB;
}

.bbs_ping_title{
font-size:16px;
background-color:#F4F4F4;
color:#555;
padding:5px 10px;
text-align:left;
border-radius:5px; 
border-bottom:solid 1px#EFEFEF;
}
.bbs_ping_title_two{
font-size:16px;
background-color:#FCFCFC;
color:#555;
padding:5px 10px;
text-align:left;
border-radius:5px;  
border-bottom:solid 1px#EFEFEF;
}


.bbs_ping_title .right {
text-align:right;
font-size:14px;
display:block;
}
.bbs_ping_title_two .right {
text-align:right;
font-size:14px;
display:block;
}


.bbs_user {
	font-size: 16px;
	background-color: #B7B7B7;
	color: #000;
	padding: 5px 10px;
	text-align: left;
	border-radius: 5px;
	border-bottom: solid 1px#EFEFEF;
}




.bbs_su{
	border-radius: 5px;
	text-align: center;
	background-color: #BCBCBC;
}

.bbs_post{ 
    background:#66be8c;
	height: 30px;
    width: 90px;
	text-align: center;
	display: inline-block;
	border-radius: 3px;

}
.bbs_post:hover {
background:#F1F1F1;
color:#0099CC;
position:relative;
font-weight:bold;
border: 1px solid #c0c0c0; 
border-radius: 5px;
}
.sutitle {
	line-height: 40px;
color: #000;
letter-spacing: 0px;
background: #FFF;
padding-left: 20px;
position: relative;
box-shadow: 0 1px 1px #dcdcdc;
margin-top:3px;
margin-bottom: 1px;
}
.sutitle:before {
	content: ""; 
	 position: absolute;  
	 left: 10px;  top: 12.5px; 
	  height: 15px;  width: 3px;
	    background: #4485c4;
		}
		
}


.Links li a {
    display: block;
    background: #EDEDED;
    color: #333;
    font-size: 14px;
}
.Links li {
    float: left;
    width: 20%;
    text-align: center;
    height: 35px;
    line-height: 35px;
    padding-right: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}


.subnav ul li a, .header .subnav ul li a:visited {
	float: left;
	width: 25%;
    display: block;
    text-align: center;
    color: #333;
}
a {
    color: #333;
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
}
.subnav ul li {
    line-height: 40px;
}

.subnav {
    height: 40px;
    background: #f7f7f7;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    font-size: 0.9rem;
}