<header id="header" class="header" style="background-color: #616161;">
</header>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<link href="/favicon.ico" rel="icon" type="image/x-icon" />
<meta name="robots" content="noindex,follow" />
<link rel='stylesheet' id='style-css'  href='__PUBLIC__/webcss/style.css' type='text/css' media='all' />
<script type='text/javascript' src='__PUBLIC__/webjs/jquery.min.js'></script>
<meta name=Copyright Content="本程序版权归ICE所有"/> 
<meta name="Author-Corporation" content="ICE,2015"/>
<meta name="description" content="<{$description}>"/>
<meta name="keywords" content="<{$key}>"/>
<style type="text/css" id="custom-background-css">
body.custom-background { background-image: url('__PUBLIC__/webcss/bg.png'); background-repeat: repeat; background-position: top left; background-attachment: scroll; }
</style>
<script type="text/javascript">(function(a){a.fn.snow=function(d){var g=a('<div id="snowbox" />').css({position:"absolute","z-index":"9999",top:"-50px"}).html("❄"),f=a(document).height(),b=a(document).width(),e={minSize:10,maxSize:20,newOn:1000,flakeColor:"#FFF"},d=a.extend({},e,d);var c=setInterval(function(){var l=Math.random()*b-100,j=0.5+Math.random(),h=d.minSize+Math.random()*d.maxSize,i=f-200,k=l-500+Math.random()*500,m=f*10+Math.random()*5000;g.clone().appendTo("body").css({left:l,opacity:j,"font-size":h,color:d.flakeColor}).animate({top:i,left:k,opacity:0.2},m,"linear",function(){a(this).remove()})},d.newOn)}})(jQuery);$(function(){$.fn.snow({minSize:5,maxSize:50,newOn:300})});
	</script><script type='text/javascript' src='__PUBLIC__/webjs/global.js'></script>
<script>
window._deel = {name: 'ICECMS',url: 'http://www.icecms.cn', ajaxpager: '', commenton: 0, roll: [0,0]}
</script>
<!--[if lt IE 9]><script src="__PUBLIC__/webjs/html5.js"></script><![endif]-->
<block name="title"></block>
</head>
<script language ="javascript" type ="text/javascript">
function atAdd(at){
	var content =document.getElementsByName("content")[0]
	//content.value+="@"+at+",";
	editor.html(editor.text()+'@'+at+",");
}


function urlAdd(){
	var content =document.getElementsByName("content")[0];
	content.value+="[url=http://链接地址]点击访问[/url]";
}


function imgAdd(){
	var content =document.getElementsByName("content")[0];
	content.value+="[img]http://图片地址[/img]";
}


function codeAdd(){
	var content =document.getElementsByName("content")[0];
	content.value+="[code]//请在这里输入代码[/code]";
}
</script>



<!--轮播css-->
<link type="text/css" href="__PUBLIC__/lunbocss/style.css" rel="stylesheet">
<style>
	input[id=number]{
	width:60px;
	height:25px;
	border-width: 1px;
	border-style: solid;
	color:#d7d7d7;
	}
	.num {color:#2084c6;background:#F0F3F9;border:4px #CCDDDD solid;}
	.current{background:#2084c6;color:#fff;border:4px solid #2084c6;}
</style>

<body class="archive category category-android-articles category-18 custom-background">
	<header id="header" class="header" style="background-color: #616161;">
	<style type="text/css">#nav-header{background-color: rgba(85,84,85, 0.5);background: rgba(85,84,85, 0.5);color: rgba(85,84,85, 0.5);}</style>
	<style type="text/css">.navbar .nav li:hover a, .navbar .nav li.current-menu-item a, .navbar .nav li.current-menu-parent a, .navbar .nav li.current_page_item a, .navbar .nav li.current-post-ancestor a,.toggle-search ,#submit ,.btn,.pagination ul>.active>a,.pagination ul>.active>span,.bdcs-container .bdcs-search-form-submit{background: #616161;}.footer,.title h2{color: #616161;}.bdcs-container .bdcs-search-form-submit ,.bdcs-container .bdcs-search {border-color: #616161;}.pagination ul>li>a:hover,.navbar .nav li a:focus, .navbar .nav li a:hover,.toggle-search:hover,#submit:hover,.btn:hover{background-color: #474747;}</style><style type="text/css">.avatar{-webkit-transition:0.4s;-webkit-transition:-webkit-transform 0.4s ease-out;transition:transform 0.4s ease-out;-moz-transition:-moz-transform 0.4s ease-out;}.avatar:hover{transform:rotateZ(360deg);-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);}</style>
<div class="container-inner"><div align="center" class="g-logo"><a href="/"><h1><span class="g-mono" style="font-family:楷体;">ICECMS论坛</span>  <span class="g-bloger" style="font-family:楷体;">WWW.ICECMS.CN</span></h1></a></div></div><div id="toubuads"></div>
<div id="nav-header" class="navbar" style="border-bottom: 4px solid #616161 ;">
<style type="text/css">.bdsharebuttonbox a{cursor:pointer;border-bottom:0;margin-right:5px;width:28px;height:28px;line-height:28px;color:#fff}.bds_renren{background:#94b3eb}.bds_qzone{background:#fac33f}.bds_more{background:#40a57d}.bds_weixin{background:#7ad071}.bdsharebuttonbox a:hover{background-color:#7fb4ab;color:#fff;border-bottom:0}</style>

<ul class="nav">


<li id="menu-item-8" class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-has-children menu-item-13">
	<a href="/">网站首页</a>
   </li>
<li id="menu-item-13" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-13">
	<a href="__MODULE__/Bbs/new_post">论坛板块</a>
	<ul class="sub-menu">
		<li id="menu-item-9" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9">
		<a href="__MODULE__/Bbs/board_list/id/1">杂谈茶楼</a></li>
		<li id="menu-item-10" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-10">
		<a href="__MODULE__/Bbs/board_list/id/5">WEB/PHP/ASP/C#交流</a></li>
		<li id="menu-item-12" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12">
		<a href="__MODULE__/Bbs/board_list/id/2">CSS/JAVASCRIPT/AJAX交流</a></li>
		<li id="menu-item-12" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12">
		<a href="__MODULE__/Bbs/board_list/id/6">C/C++/JAVA交流</a></li>
		<li id="menu-item-12" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12">
		<a href="__MODULE__/Bbs/board_list/id/4">官方公告</a></li>
		<li id="menu-item-12" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12">
		<a href="__MODULE__/Bbs/board_list/id/3">ICECMS BUG提交</a></li>
</ul>
</li>

<li id="menu-item-13" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-13">
	<a href="__MODULE__/Home">个人中心</a>
	<ul class="sub-menu">
	<li id="menu-item-16" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16">
	<a href="__MODULE__/Home">个人中心</a></li>
	<li id="menu-item-16" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16">
	<a href="__MODULE__/Home/change">修改资料</a></li>
	<li id="menu-item-14" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-14">
	<a href="__MODULE__/Home/zone/id/">我的空间</a></li>
    <li id="menu-item-14" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-14">
    <a href="__MODULE__/Bbs/user_post">我的帖子</a>  </li>
	</ul>
</li>


<li id="menu-item-6" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-6">
	<a href="">文章分享</a>
	<ul class="sub-menu">
		<li id="menu-item-22" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-22">
		<a href="__MODULE__/Article/board_list/id/1">互联网</a></li>
		<li id="menu-item-7" class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-7">
		<a href="__MODULE__/Article/board_list/id/2">编程感悟</a></li>
		<li id="menu-item-11" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11">
		<a href="__MODULE__/Article/board_list/id/3">其他</a></li>
	</ul>
	</li>


	<li id="menu-item-374" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-374">
		<a href="__MODULE__/Bbs/new_post">最新帖子</a>
		<ul class="sub-menu">
			<li id="menu-item-19" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-19">
			<a href="__MODULE__/Bbs/new_post">最新帖子</a></li>
		</ul>
	</li>


	<li id="menu-item-24" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-24">
	<a href="__MODULE__/Message/receive/">我的信息</a>
	<ul class="sub-menu">
		<li id="menu-item-66" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66">
		<a href="__MODULE__/Message/index">发送信息</a></li>
		<li id="menu-item-65" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65">
		<a href="__MODULE__/Message/sended">我已发送</a></li>
		<li id="menu-item-70" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70">
		<a href="__MODULE__/Message/receive/">我已接收</a></li>
		<li id="menu-item-318" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-318">
		<a href="__MODULE__/Message/atreceive">被@消息</a></li>
	</ul>
</li>
<li id="menu-item-69" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69">
<a href="__MODULE__/Bbs/add">发帖</a></li>
<li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71">
<a href="__MODULE__/Article/add">投稿</a></li>
<li id="menu-item-67" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-67">
<a href="http://api.icecms.cn/">API</a></li>
<li id="menu-item-67" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-67">
<a href="http://icecms.cn/about">ABOUT US</a></li>
<li style="float:right;">
<div class="toggle-search">
	<i class="fa fa-search">
	</i>
</div>
<div class="search-expand" style="display: none;">
	<div class="search-expand-inner">
		<form method="post" class="searchform" action="__MODULE__/Bbs/search">
			<div>
	<input type="ext" class="search" name="content" value='输入内容并回车';" onfocus="if(this.value=='输入内容并回车')this.value='';" value="输入内容并回车">
			</div>
		</form>
	</div>
</div>
</li>
</ul>
</div>
</div>
</header>
<section class="container">
<div class="speedbar">
	<div class="pull-right">

		<?php
		if(!isset($_COOKIE['user_sid']))
		echo	'<i class="fa fa-power-off"></i> <a href="__MODULE__/Login">登录</a>';
		?>		
	
	
	</div>
				<div class="toptip" id="callboard"><ul style="font-size:16px;margin-top: 2px;">PHP7.0
				</ul></div>
	</div>
    
    
        <!--轮播代码-->
        <div style="width:100%;height:150px;">
    <div class="index_banner" id="banner_tabs" style="width:100%;height:150px;">
	<ul>
		<li><img src="__PUBLIC__/images/index_banner1.jpg" width="100%"></a></li>
		<li><img src="__PUBLIC__/images/index_banner2.jpg" width="100%"></a></li>      
		<li><img src="__PUBLIC__/images/index_banner3.jpg" width="100%"></a></li>    
	</ul>
	<cite>
		<span class="cur">1</span>
		<span>2</span>
		<span>3</span>
	</cite>
</div>
</div>
    
    <br/>
        <br/>
            <br/>
                <br/>
	<block name="body"></block>

<aside class="sidebar">
<div class="widget widget_calendar">
<div id="calendar_wrap">
		<table id="wp-calendar">
			<a class="btn"  style=" -webkit-border-radius: 15px; -moz-border-radius: 15px;  ">在线查询工具</a><br/>
	1.<a href=/tool/decode.php>编码解码器</a><hr />
    2.<a href=/tool/htmledit.php>HTML在线编辑</a><hr />
	3.<a href=/tool/http.php>HTTP浏览器请求查看</a><hr />
    4.<a href=/tool/mine-type.php>MINE-TYPE对照表</a><hr />
	4.<a href=/tool/viewhtml.php>源代码查看</a><hr />
    6.<a href=/tool/whois.php>域名whois查看</a><hr />
    7.<a href=/tool/domaindecode.php>中文域名编码/解码</a><hr />
	8.<a href=/Home/Tool/kugoumusic>酷狗音乐</a><hr />
    9.<a href=/Home/Tool/wo>联通一起沃辅助（自动签到等等）</a><hr />
	10.<a href=/Home/Tool/getip>获取代理IP</a>
    <br /> 

	</table>
</div>
</div>
	
<div class="widget git_tag">
	<div class="title">
		<h2>
			<a class="btn" target="_blank" href="">论坛分类</a>分类
		</h2>
	</div>
	<div class="git_tags">
		<a title="" target="_blank" href="__MODULE__/Bbs/board_list/id/1">杂谈茶楼</a>
		<a title="" target="_blank" href="__MODULE__/Bbs/board_list/id/5">WEB/PHP/ASP/C#</a>
		<a title="" target="_blank" href="__MODULE__/Bbs/board_list/id/2">CSS/JAVASCRIPT/AJAX</a>
		<a title="" target="_blank" href="__MODULE__/Bbs/board_list/id/6">C/C++/JAVA交流</a>
		<a title="" target="_blank" href="__MODULE__/Bbs/board_list/id/4">官方公告</a>
		<a title="" target="_blank" href="__MODULE__/Bbs/board_list/id/3">ICECMS BUG提交</a>
	</div>
	</div>
	<div class="widget widget_links">
		<div class="title">
			<h2>友情链接</h2>
		</div>
		<ul class='xoxo blogroll'>
        <li><a href="http://www.zahuiba.com/" rel="friend co-worker neighbor crush" target="_blank">杂烩吧</a></li>
			<li><a href="http://xiaows.com/" rel="friend co-worker neighbor crush" target="_blank">笑忘书</a></li>
			<li><a href="http://www.bingduba.com/" target="_blank">病毒吧</a></li>
            <li><a href="http://cccyun.cn/?a=803/" target="_blank">彩虹导航</a></li>
            <li><a href="http://mogu.wap.sg/link/gourl.aspx?id=21716_32161" target="_blank">蘑菇导航</a></li>
             <li><a href="http://dh.zl88.net/inlink-328.html" target="_blank">知了网址</a></li>
             <li><a href="http://zz.icsr.cn" target="_blank">站长网</a></li>
             

            
            
		</ul>
	</div>


	<div class="widget widget_links">
		<div class="title">
			<h2>我们应该溜达一下</h2>
		</div>
	<ul class='xoxo blogroll'>
		<li><a href="http://thinkphp.cn/" target="_blank">THINKPHP</a></li>
		<li><a href="http://www.w3cschool.cc/" target="_blank">W3CSCHOOL</a></li>
		<li><a href="http://htmlpurifier.org/" target="_blank">htmlpurifier</a></li>
		<li><a href="http://kindeditor.net/" target="_blank">kindeditor</a></li>
	</ul>
</div>
<div class="widget git_comment">
	<div class="title">
		<h2>WEB</h2>
</div>
<ul>
	<li><a target="_blank" href="">
		<img data-original="__PUBLIC__/images/nohead.jpg" class="avatar avatar-72" height="50px" width="50px">
		<div class="muted">
			<i>someone</i>
		。。。。。
		</div>
           </a>
	</li>
</ul>
</div>
</aside>
</section>
<footer style="border-top: 1px solid ;background-image: url('__PUBLIC__/webcss/footbg.jpg'); background-repeat: repeat;" class="footer">
<div class="footer-inner">
	<div class="footer-copyright" align="center">
		Copyright 2015-2016   WWW.ICECMS.CN  | <a rel="nofollow" target="_blank" href="http://icecms.cn/about">ABOUT US</a> | <a rel="nofollow" target="_blank" href="__MODULE__/Home/dark_home.html">DARK HOUSE</a><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254974892'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1254974892%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
		<br/><a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备15008776号-2</a>
		<span class="trackcode pull-right">联系TA   邮箱:postmaster@icecms.cn</span></div></div></footer>

</body>

<!--轮播图片js代码-->
<script type="text/javascript">
(function(){
	if(!Function.prototype.bind){
		Function.prototype.bind = function(obj){
			var owner = this,args = Array.prototype.slice.call(arguments),callobj = Array.prototype.shift.call(args);
			return function(e){e=e||top.window.event||window.event;owner.apply(callobj,args.concat([e]));};
		};
	}
})();
var banner_tabs = function(id){
	this.ctn = document.getElementById(id);
	this.adLis = null;
	this.btns = null;
	this.animStep = 0.2;//动画速度0.1～0.9
	this.switchSpeed = 3;//自动播放间隔(s)
	this.defOpacity = 1;
	this.tmpOpacity = 1;
	this.crtIndex = 0;
	this.crtLi = null;
	this.adLength = 0;
	this.timerAnim = null;
	this.timerSwitch = null;
	this.init();
};
banner_tabs.prototype = {
	fnAnim:function(toIndex){
		if(this.timerAnim){window.clearTimeout(this.timerAnim);}
		if(this.tmpOpacity <= 0){
			this.crtLi.style.opacity = this.tmpOpacity = this.defOpacity;
			this.crtLi.style.filter = 'Alpha(Opacity=' + this.defOpacity*100 + ')';
			this.crtLi.style.zIndex = 0;
			this.crtIndex = toIndex;
			return;
		}
		this.crtLi.style.opacity = this.tmpOpacity = this.tmpOpacity - this.animStep;
		this.crtLi.style.filter = 'Alpha(Opacity=' + this.tmpOpacity*100 + ')';
		this.timerAnim = window.setTimeout(this.fnAnim.bind(this,toIndex),50);
	},
	fnNextIndex:function(){
		return (this.crtIndex >= this.adLength-1)?0:this.crtIndex+1;
	},
	fnSwitch:function(toIndex){
		if(this.crtIndex==toIndex){return;}
		this.crtLi = this.adLis[this.crtIndex];
		for(var i=0;i<this.adLength;i++){
			this.adLis[i].style.zIndex = 0;
		}
		this.crtLi.style.zIndex = 2;
		this.adLis[toIndex].style.zIndex = 1;
		for(var i=0;i<this.adLength;i++){
			this.btns[i].className = '';
		}
		this.btns[toIndex].className = 'cur'
		this.fnAnim(toIndex);
	},
	fnAutoPlay:function(){
		this.fnSwitch(this.fnNextIndex());
	},
	fnPlay:function(){
		this.timerSwitch = window.setInterval(this.fnAutoPlay.bind(this),this.switchSpeed*1000);
	},
	fnStopPlay:function(){
		window.clearTimeout(this.timerSwitch);
	},
	init:function(){
		this.adLis = this.ctn.getElementsByTagName('li');
		this.btns = this.ctn.getElementsByTagName('cite')[0].getElementsByTagName('span');
		this.adLength = this.adLis.length;
		for(var i=0,l=this.btns.length;i<l;i++){
			with({i:i}){
				this.btns[i].index = i;
				this.btns[i].onclick = this.fnSwitch.bind(this,i);
				this.btns[i].onclick = this.fnSwitch.bind(this,i);
			}
		}
		this.adLis[this.crtIndex].style.zIndex = 2;
		this.fnPlay();
		this.ctn.onmouseover = this.fnStopPlay.bind(this);
		this.ctn.onmouseout = this.fnPlay.bind(this);
	}
};
var player1 = new banner_tabs('banner_tabs');
</script>
</html>