<extend name="web:Public:body"/>
<block name="title">
<title><{$user_name}>_修改人资料</title>
</block>
<block name="body">
<div class="content-wrap">
	<div class="content">
		<header class="archive-header">
	修改个人资料
		</header>
<ul class="user-titbox">

	<form action="__URL__/change_do" method="post">
<div align="left" class="open-message">	<li class="title_bbs">	昵称：<input type="text" name="user_name" id="user_name" value="<{$user_name}>"/>(1-10个字内)</li></div >
<div align="left" class="open-message">	<li class="title_bbs">	邮箱：<input type="text" name="user_email"id="user_email" value="<{$user_email}>" /></li></div >
<div align="left" class="open-message">	<li class="title_bbs">	身份：<input type="text" name="user_rank"value="<{$user_rank}>"/>(10个字内)</li></div >
<div align="left" class="open-message">	<li class="title_bbs">	个性签名(40个字内)：<textarea  type="text" name="user_character"/><{$user_character}></textarea></li></div >
<div align="left" class="open-message">	<li class="title_bbs">	性别：<input name="user_sex" type="radio" value="男" checked=checked/>男<input name="user_sex" type="radio" value="女"/>女</li></div >
<div align="left" class="open-message">	<li class="title_bbs">	新密码：<input type="password" name="user_password" placeholder="新密码" />（不修改留空）</li></div >
<div align="left" class="open-message">	<li class="title_bbs">	确认新密码：<input type="password" name="new_password" placeholder="重复输入新密码" />（不修改留空）</li></div >
	<input name="csrf_token" type="hidden"   value= <{$csrf_token}> />
	<input type="submit" name="submit"  class="action" value="确定修改"/>
	</form>	
</ul>
	</div>
	</div>
</block>
