<extend name="web:Public:body"/>
<block name="title">
<title><{$title}></title>
</block>

     <block name="menhu">
        <div id="nav-header" class="navbar" style="border-bottom: 4px solid #616161 ;">
		<ul class="nav">
		<li id="menu-item-8" class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-has-children menu-item-13">
		<a href="/">门户首页</a>
   		</li>
        <li id="menu-item-13" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-13">
            <a href="__MODULE__/Article/board_list/id/1">互联网资讯</a>
        </li>

        <li id="menu-item-13" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-13">
            <a href="__MODULE__/Article/board_list/id/4">科技头条</a>
        </li>


        <li id="menu-item-6" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-6">
            <a href="__MODULE__/Article/board_list/id/3">建站资讯</a>
            </li>
            
        <li id="menu-item-69" class="menu-item menu-item-type-article_type menu-item-object-page menu-item-69">
        <a href="__MODULE__/Article/board_list/id/2">编程知识</a></li>
                <li id="menu-item-71" class="menu-item menu-item-type-article_type menu-item-object-page menu-item-71">
        <a href="__MODULE__/Article/add">我要投稿</a></li>
        <li id="menu-item-71" class="menu-item menu-item-type-article_type menu-item-object-page menu-item-71">
        <a href="__MODULE__/Index/bbs">论坛交流</a></li>
        <li id="menu-item-67" class="menu-item menu-item-type-article_type menu-item-object-page menu-item-67">
       		<a href="http://api.icecms.cn/">API</a>
        </li>
        <li id="menu-item-67" class="menu-item menu-item-type-article_type menu-item-object-page menu-item-67">
       	 <a href="http://icecms.cn/about">ABOUT US</a>
        </li>
	<li style="float:right;">
		<div class="toggle-search">
            <i class="fa fa-search">
            </i>
		</div>
        <div class="search-expand" style="display: none;">
            <div class="search-expand-inner">
                <form method="article" class="searchform" action="__MODULE__/Bbs/search">
                    <div>
            <input type="ext" class="search" name="content" value='输入内容并回车';" onfocus="if(this.value=='输入内容并回车')this.value='';" value="输入内容并回车">
                    </div>
                </form>
            </div>
        </div>
	</li>
</ul>
</div>
</block>

<block name="body">
<div class="content-wrap">
	<div class="content">
		<header class="archive-header">
		</header>
<volist name="list" id="vo" mod="8">
<article class="excerpt">
	<header><h2><a target="_blank" href="__MODULE__/Article/read/id/<{$vo.article_id}>.html" title="<{$vo.article_title}>"><{$vo.article_title}></a></h2>
	</header>
	<div class="focus">
		<a target="_blank" href="__MODULE__/Article/read/id/<{$vo.article_id}>.html">
			<?php
			/*	$user=M('User');
				$id=$vo['article_ower_id'];
				$user_img=$user->where("user_id='$id'")->getField('user_img');
				if($user_img==''){
					echo '<img class="image" src="__PUBLIC__/Uploads/user_head/defalut.jpg" alt="'.$vo['articlet_title'].'" />';
				}else{
					echo '<img class="image" src="__PUBLIC__/Uploads/user_head/'.$user_img.'" alt="'.$vo['article_title'].'" />';
				}*/
			?>
		</a>
	</div>
	<span class="note">
    		<?php
					$content=$vo['article_content'];
		       $content=preg_replace('/\<.*\>/uisU'," ",$content);
		echo 	$content= htmlspecialchars(sub_str($content,0,120,0)).'....';
		?>
		
		……<a href="__MODULE__/Article/read/id/<{$vo.article_id}>.html" rel="nofollow" class="more-link">继续阅读 &raquo;</a></span>
<p class="auth-span">
<span class="muted"><i class="fa fa-user"></i> 
	<a href="__MODULE__/Home/zone/id/<{$vo.article_ower_id}>.html"><{$vo.article_ower_name}></a>
</span>
<span class="muted"><i class="fa fa-clock-o"></i>
	<{$vo.article_date}>
	</span>	
		<span class="muted">
			<i class="fa fa-eye"></i>
				<span class="count"><{$vo.article_hot}></span>阅
		</span></p>
</article>

</volist>
	</div>
	<{$page}>
</div>
</block>
<block name="you">
	<div class="title">
		<h2>
			编程知识
		</h2>
	</div>
            <volist name="a_list_b" id="vo" mod="10">
	   	<a target="_blank" href="__MODULE__/Article/read/id/<{$vo.article_id}>.html" title="<{$vo.article_title}>"><{$vo.article_title}></a><br>
    </volist>
</block>