<extend name="./Public/body"/>
<block name="title">
<title>论坛</title>
</block>
<block name="body">
<div class="bbs_line"><a href="__MODULE__/Index/index">首页</a>><a href="__MODULE__/Bbs/index">论坛</a>><a href="__MODULE__/Bbs/add">发帖</a></div>
<div class="content">
<form action="<{:U('Bbs/search')}>" method="post">
	<input type="text" name="content"  placeholder="搜索些什么呢">
	<input name="sort" type="radio" value="title" checked=checked/>标题
	<input name="sort" type="radio" value="user" />用户
	<input type="submit" name="submit" value="搜索">
</form>
</div>
<div class="bbs_fl_line">论坛列表</div>
<div class="bbs_fl_title"><a href=__MODULE__/Bbs/board_list/id/1>杂谈茶楼</a><span></span></div>
	<volist name="post_list_1" id="vo" mod="8">
	<div class="title_bbs"><a href=__MODULE__/Bbs/read/id/<{$vo.post_id}>.html><{$vo.post_title}></a></div>
	</volist>

<div class="bbs_fl_title"><a href=__MODULE__/Bbs/board_list/id/5>WEB/PHP/ASP/C#交流</a><span></span></div>
	<volist name="post_list_5" id="vo" mod="8">
	<div class="title_bbs"><a href=__MODULE__/Bbs/read/id/<{$vo.post_id}>.html><{$vo.post_title}></a></div>
	</volist>

<div class="bbs_fl_title"><a href=__MODULE__/Bbs/board_list/id/2>CSS/JAVASCRIPT/AJAX交流</a><span></span></div>
	<volist name="post_list_2" id="vo" mod="8">
	<div class="title_bbs">	<a href=__MODULE__/Bbs/read/id/<{$vo.post_id}>.html><{$vo.post_title}></a></div>
	</volist>


<div class="bbs_fl_title"><a href=__MODULE__/Bbs/board_list/id/6>C/C++/JAVA交流</a><span></span></div>
	<volist name="post_list_6" id="vo" mod="8">
	<div class="title_bbs"><a href=__MODULE__/Bbs/read/id/<{$vo.post_id}>.html><{$vo.post_title}></a></div>
	</volist>
<div class="bbs_fl_title"><a href=__MODULE__/Bbs/board_list/id/6>LINUX/Windows</a><span></span></div>
	<volist name="post_list_8" id="vo" mod="8">
	<div class="title_bbs"><a href=__MODULE__/Bbs/read/id/<{$vo.post_id}>.html><{$vo.post_title}></a></div>
	</volist>
<div class="bbs_fl_title"><a href=__MODULE__/Bbs/board_list/id/4>官方公告</a><span></span></div>
	<volist name="post_list_4" id="vo" mod="8">
	<div class="title_bbs">	<a href=__MODULE__/Bbs/read/id/<{$vo.post_id}>.html><{$vo.post_title}></a></div>
	</volist>

<div class="bbs_fl_title"><a href=__MODULE__/Bbs/board_list/id/3>ICECMS BUG提交</a><span></span></div>
	<volist name="post_list_3" id="vo" mod="8">
	<div class="title_bbs">	<a href=__MODULE__/Bbs/read/id/<{$vo.post_id}>.html><{$vo.post_title}></a></div>
	</volist>
</block>
